.minesweeper {
  // line-height: 0;
  display: flex;
  flex-wrap: wrap;
  width: 275px;
  // width: 400px;
  // width: 600px;


  // height: 400px;
}

.minesweeper__button {
  // padding: 0;
  // margin: 0;
  height: 25px;
  width: 25px;
}