.settings {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 40px;
}
.settings__select {
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

.settings__mines {
  height: 60px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
}

.settings__range {
  width: 150px;
  height: 10px;
  appearance: none;
  background: #edf1f4;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  @include media-mobile {
    width: 100px;
  }
}

.settings__range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #022f52;
  box-shadow: -407px 0 0 400px #022f52;
  cursor: pointer;
}

.settings__count-mines {
  text-align: center;
  width: 60px;
  color: #fff;
  background: #022f52;
  margin-left: 15px;
  border-radius: 25px;
}

.settings__score-img {
  cursor: pointer;
  @include media-mobile {
    width: 35px;
  }
}

.settings__theme {
  padding: 7px;
  border: none;
  border-radius: 50px;
  color: var(--text-color);
  background: var(--background-button);
  cursor: pointer;
  transition: 1s all;
  &:hover {
    transition: 1s all;
    color: var(--background-button);
    background: var(--text-color);
  }
  @include media-mobile {
    font-size: 12px;
    padding: 4px;
  }
}

.settings__sound {
  height: 50px;
  width: 50px;
  background-image: url("../assets/icons/soundOn.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  cursor: pointer;
  @include media-mobile {
    background-size: 25px;
  }
}

.settings__sound-off {
  background-image: url("../assets/icons/soundOff.png");
}
