@import 'sass/base/normalize';
@import 'sass/base/mixim';

@import 'sass/base/base';
@import 'sass/base/icons';
@import 'sass/base//constants';


@import 'sass/components/minesweeper';
@import 'sass/components/modal';
@import 'sass/components/settings';
@import 'sass/components/select';
@import 'sass/components/result';

body {
  background-color: rgb(147, 147, 147);
}

.minesweeper__button {
  background-color:#000;
  border-color:#ddd rgb(120, 120, 120) rgb(120, 120, 120) #ddd;
}

.minesweeper__button_disabled {
  background: rgb(129, 129, 129);
}

.bomb {
  background-image: url('../src/assets/icons/bomb_small-dark.png');
}

.settings__theme {
  transition: 1s all;
  background: #000;
  color: #fff;
  &:hover {
    transition: 1s all;
    background: #fff;
    color: #000;
  }
}

.score__wrapper {
  background-color: rgb(54, 76, 86);
  border: 2px solid #fff;
}
.score__header-table {
  border-bottom: 3px solid rgb(22, 43, 53);
}

.score__button {
  &:hover {
    border: 2px solid rgb(22, 43, 53);
  }
}