
.one_blue {
  color: #2ca8d1;
}
.two_green {
  color: #40ff40;
}
.three_red {
  color: #e61919;
}

.four_dark-blue {
  color: #0e0e7d;
}

.five_brown {
  color: #7b4b1b
}

.six_turquoise {
  color: #30d5c8;
}

.seven_black {
  color: #000;
}

.eight_white {
  color: #fff;
}
