
.flag {
  // background: none;
  background-image: url('../src/assets/icons/flag_small.png');
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb {
  // background: none;
  background-image: url('../src/assets/icons/bomb_small.png');
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}