.flag {
  // background: none;
  background-image: url("../assets/icons/flag_small.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb {
  // background: none;
  background-image: var(--background-image);
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
